/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 may 2024, 11:33:18
    Author     : wwwde
*/
header img {
    height: 50px;
    margin-left: 40px;
}

body {
    height: 125vh;
    background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    color: white;
}

main {
    color: white;
}

header {
    background-color: #C1121F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

header nav {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-left,
.nav-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left li,
.nav-right li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    margin-top: 20px;
}

.info {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.ttt {
    background-size: cover;
    font-family: sans-serif;
    color: white;
}




.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ff135a;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}


.contcarru {
  overflow: hidden; /* Oculta la barra de desplazamiento */
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 40px;
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}

.cards .red {
  background-color: #780000;
}

.cards .blue {
  background-color: #780000;
}

.cards .green {
  background-color: #780000;
}

.cards .card {
  animation: slide 10s infinite linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

@keyframes slide {
  0% { transform: translateX(0); }
  33.33% { transform: translateX(-100%); }
  66.66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 5px; /* Agrega margen inferior */
}

.cards .card p.second-text {
  font-size: .7em;
  margin-top: 5px; /* Agrega margen superior */
}

.cards .card:hover {
  transform: scale(1.2, 1.2);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.contcarru h1{
    text-align: center;
}

.ev1 {
    height: 300px;
    width: 300px;
}

.prev-btn,
.next-btn {
    background-color: #780000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn:hover,
.prev-btn:hover {
    background-color: #a00000;
}

footer {
  padding: 20px;
  text-align: center;
}

.footer-info {
  font-size: 14px;
  color: #333;
}