header img {
    height: 50px;
    margin-left: 40px;
}

body {
    height: 125vh;
    background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    color: white;
}
main {
    color: white;
}

header {
    background-color: #C1121F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

header nav {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-left,
.nav-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left li,
.nav-right li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    margin-top: 20px;
}

.info {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.ttt {
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
footer {
    padding: 20px;
    text-align: center;
  }
  
  .footer-info {
    font-size: 14px;
    color: #333;
  }